body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #00BFFF, #000000);
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between; /* Разделение заголовка и кнопки */
    align-items: center; /* Вертикальное выравнивание */
}

.nav-button {
    background-color: white;
    color: #1E90FF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.admin-button:hover {
    background-color: #f0f0f0; /* Изменение цвета при наведении */
}

.container {
    max-width: 1280px; /* Ограничение ширины */
    margin: 0 auto; /* Центрирование */
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.block {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 45%; /* Ширина блоков */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin: 0;
}

.report {
    border: 1px solid steelblue;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px
}

.report tr td, th {
    padding: 5px;
    border: 1px solid steelblue;
}

.report td:last-child, td:first-child {
    width: 50px;
}